body{
    font-family: 'Poppins', sans-serif;
}
/* first  */
.frist{
   background-image: url(images/donation2.jpg);
   background-repeat: no-repeat;
   background-position: center; 
}
.donet{
    text-align: center;
    padding: 80px 50px;
    justify-content: center;

}
.donet h1{
    color: black;
    font-size: 40px;
}
.donet p{
    color: blanchedalmond;
}
.button{
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 5px;
}

/* second */
.donate{
    margin-top: 50px;
}
.donate-today{
    text-align: center;
    justify-content: center;
}
.taka{
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.half-width{
    padding: 15px 7px;
    margin: 6px 7px;
    background-color: whitesmoke;
    color: #837e7e;
}
#two-hundred{
    border: 2px solid red;
    border-radius: 6px;
    background-color: #fecbcb;
    color: red;
}
hr{
    margin: 2px 150px;
}
.btn{
   text-align: center;
   color: white;
   border: none;
   border-radius: 3px;
}
.btn button{
    background-color: tomato;
    border: none;
    border-radius: 3px;
    color: white;

}

/* third sec  */
.full-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.box{
    display: flex;

}
.boxes{
    padding: 70px 22px;
    margin: 6px 15px;
}
#box-1{
    background-color: rgb(233, 255, 255);
}
#box-2{
    background-color: rgb(255, 233, 238);
}
#box-3{
    background-color: rgb(255, 255, 194);
}
.extra{
    text-align: center;
    margin: 10px;
    border-left: 5px solid blue;
    border-right: 5px solid blue;
    box-shadow: 5px 5px 15px gray;
    margin-top: 40px;
}
.extra p{
    text-align: justify;
}
 /* update  */
#update-sec{
    margin-bottom: 150px; 
    margin-top: 50px;
}
.update{
    text-align: center;
}
.email-subscribe{
    margin: 37px 100px;
    background-color: rgb(255, 243, 220);
}
.both-divisions{
    display: flex;
    justify-content: center;}

.email p{
    text-align: start;
    padding-left: 3px;
    padding-right: 194px;
    background-color: rgb(219 216 216);
    color: rgb(172 172 172)}

.common{
    padding: 11px 67px;
    margin: 100px 0px;
}
.subscribe p{
    background-color: tomato;
    color: white;
}
.footer{
    background-color: rgb(2, 2, 18);
    color: tomato;
    text-align: center;
}
.footer p{
    color: white;
}
.footer h1{
    font-family: 'Lobster', cursive;
}